$primary-color: #2B5AED;
$link-color: #1890ff;
$success-color: #1FB4A2;
$warning-color: #F5AC08;
$error-color: #FA5247;
$gray: #1E2025;

$font-color-l: var(--font-color-l, rgb(30 32 37 / 100%));
$font-color-m: var(--font-color-m, rgb(30 32 37 / 80%));
$font-color-s: var(--font-color-s, rgb(30 32 37 / 50%));
$font-color-xs: var(--font-color-xs, rgb(30 32 37 / 30%));

$size-xl: 32px;
$size-l: 20px;
$size-m: 16px;
$size-s: 14px;
$size-xs: 12px;

$font-color-l: var(--font-color-l, rgb(30 32 37 / 100%));
$font-color-m: var(--font-color-m, rgb(30 32 37 / 80%));
$font-color-s: var(--font-color-s, rgb(30 32 37 / 50%));
$font-color-xs: var(--font-color-xs, rgb(30 32 37 / 30%));

$bg-color-l: var(--bg-color-l, #fff);
$bg-color-m: var(--bg-color-m, #F6F6F8);
$bg-color-s: var(--bg-color-s, #F3F3F4);
$bg-color-xs: var(--bg-color-xs, #E8E8E8);

$line-color-s: var(--line-color-s, #E8E8E8);
$line-color-m: var(--line-color-m, #D1D1D2);
