.sidebar-wrapper {
    border-right: 1px solid $line-color-s;
    padding: 8px 0;
    min-width: 267px;
    height: calc(100vh - 60px);

    .sidebar-content {
        margin: 0 16px;

        .menu {
            .menu-title {
                margin-top: 16px;
                height: 40px;
                line-height: 40px;

                span {
                    font-weight: 700;
                }
            }

            .menu-item {
                display: block;
                padding: 0 16px;
                height: 40px;
                line-height: 40px;
                color: $font-color-m;
            }

            .activated {
                border-radius: 8px;
                font-weight: 500;
                color: $primary-color;
                background-color: #1572ff1a;
            }
        }
    }
}