.yike-typography-primary {
    color: $primary-color;
}

.yike-typography-secondary {
    color: $secondary-color;
}

.yike-typography-success {
    color: $success-color;
}

.yike-typography-warning {
    color: $warning-color;
}

.yike-typography-danger {
    color: $error-color;
}